# 학습 데이터

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
sst = pd.read_csv(r'C:\Users\stat_17\Desktop\weather\sansatae.csv', encoding='CP949')

In [3]:
hjd=gpd.read_file(r'C:\Users\stat_17\Desktop\weather\hanggung\umd.shp',encoding='utf-8')

In [4]:
t_kn=gpd.read_file('C:/Users/stat_17/Desktop/weather/toyang/toyang_48_kn/TB_FGDI_FS_IJ5000_PG_48.shp',encoding='utf-8')

In [5]:
t_kb1=gpd.read_file('C:/Users/stat_17/Desktop/weather/toyang/toyang_47_kb/TB_FGDI_FS_IJ5000_PG_47_1.shp',encoding='utf-8')

In [6]:
t_kb2=gpd.read_file('C:/Users/stat_17/Desktop/weather/toyang/toyang_47_kb/TB_FGDI_FS_IJ5000_PG_47_2.shp',encoding='utf-8')

In [7]:
i_kb1=gpd.read_file('C:/Users/stat_17/Desktop/weather/imsang/imsang_47_kb/TB_FGDI_FS_IM5000_47_1.shp',encoding='utf-8')

In [8]:
i_kb2=gpd.read_file('C:/Users/stat_17/Desktop/weather/imsang/imsang_47_kb/TB_FGDI_FS_IM5000_47_2.shp',encoding='utf-8')

In [9]:
i_kn=gpd.read_file('C:/Users/stat_17/Desktop/weather/imsang/imsang_48_kn/TB_FGDI_FS_IM5000_48.shp',encoding='utf-8')

In [10]:
rain1=pd.read_csv(r'C:\Users\stat_17\Desktop\svt\SRAIN__11.csv', encoding='CP949')

In [11]:
list_1 = [i_kb1, i_kb2, i_kn]
imsang=pd.concat(list_1)

In [12]:
list_2 = [t_kb1, t_kb2, t_kn]
toyang = pd.concat(list_2)

In [13]:
hjd = hjd.rename({'ADM_DR_NM':'umd'}, axis='columns')

## 임상도 결측치 대체

## DMCLS_CD 변수 결측값 대체

In [14]:
imsang=imsang.replace({'DMCLS_CD': '3'}, {'DMCLS_CD': '5'})
imsang=imsang.replace({'DMCLS_CD': '2'}, {'DMCLS_CD': '4'})
imsang=imsang.replace({'DMCLS_CD': '1'}, {'DMCLS_CD': '3'})
imsang=imsang.replace({'DMCLS_CD': '0'}, {'DMCLS_CD': '2'})

In [15]:
imsang['DMCLS_CD']=imsang['DMCLS_CD'].fillna(0)

In [16]:
# 죽림이면 'DMCLS_CD' = 1
imsang.loc[imsang.FRTP_CD == '4','DMCLS_CD']='1'

## AGCLS_CD변수 결측값 대체

In [17]:
# AGCLS_CD 대체
imsang['AGCLS_CD']=imsang['AGCLS_CD'].fillna(0)

In [18]:
# 죽림 1로 대체
imsang.loc[imsang.FRTP_CD == '4','AGCLS_CD']='1'

## DNST_CD변수 결측값 대체

In [19]:
imsang['DNST_CD']=imsang['DNST_CD'].fillna('D')

In [20]:
imsang.loc[imsang.FRTP_CD == '4','DNST_CD']='E'

## HEIGT변수 결측값 대체

In [21]:
imsang['HEIGHT']=imsang['HEIGHT'].fillna('999')

In [22]:
d_0=imsang[imsang['FROR_CD']== '0']

In [23]:
d_2=imsang[imsang['FROR_CD'] != '0']

# d_0: 무립목지/비산림|

In [24]:
d_0.loc[d_0.KOFTR_GROU == '95','HEIGHT']='08'
d_0.loc[d_0.KOFTR_GROU == '83','HEIGHT']='02'
d_0=d_0.replace({'HEIGHT': '999'}, {'HEIGHT': '00'})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

# d_2: 인공림/천연림

In [25]:
dd_2=d_2[d_2['HEIGHT'] == '999']
dn_2=d_2[d_2['HEIGHT'] != '999']

In [26]:
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='10')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='2'),'08',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='3'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='4'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='5'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='6'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='11')&(dd_2['AGCLS_CD']=='7'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='12')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='12')&(dd_2['AGCLS_CD']=='2'),'08',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='12')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='12')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='13')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='13')&(dd_2['AGCLS_CD']=='2'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='13')&(dd_2['AGCLS_CD']=='3'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='13')&(dd_2['AGCLS_CD']=='4'),'18',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='13')&(dd_2['AGCLS_CD']=='5'),'20',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='14')&(dd_2['AGCLS_CD']=='2'),'06',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='14')&(dd_2['AGCLS_CD']=='3'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='14')&(dd_2['AGCLS_CD']=='4'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='14')&(dd_2['AGCLS_CD']=='5'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='14')&(dd_2['AGCLS_CD']=='6'),'14',dd_2['HEIGHT'])

C:\ProgramData\Anaconda3\lib\site-packages\geopandas\geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [27]:
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='15')&(dd_2['AGCLS_CD']=='2'),'08',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='15')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='15')&(dd_2['AGCLS_CD']=='4'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='15')&(dd_2['AGCLS_CD']=='5'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='15')&(dd_2['AGCLS_CD']=='6'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='17')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='17')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='17')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='18')&(dd_2['AGCLS_CD']=='4'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='21')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='30')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='30')&(dd_2['AGCLS_CD']=='2'),'08',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='30')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='30')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='30')&(dd_2['AGCLS_CD']=='5'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='30')&(dd_2['AGCLS_CD']=='6'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='31')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='31')&(dd_2['AGCLS_CD']=='2'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='31')&(dd_2['AGCLS_CD']=='3'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='31')&(dd_2['AGCLS_CD']=='4'),'16',dd_2['HEIGHT'])

In [28]:
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='32')&(dd_2['AGCLS_CD']=='2'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='32')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='32')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='32')&(dd_2['AGCLS_CD']=='5'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='32')&(dd_2['AGCLS_CD']=='6'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='33')&(dd_2['AGCLS_CD']=='2'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='33')&(dd_2['AGCLS_CD']=='3'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='33')&(dd_2['AGCLS_CD']=='4'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='33')&(dd_2['AGCLS_CD']=='5'),'18',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='33')&(dd_2['AGCLS_CD']=='6'),'22',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='34')&(dd_2['AGCLS_CD']=='2'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='34')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='34')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='34')&(dd_2['AGCLS_CD']=='5'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='35')&(dd_2['AGCLS_CD']=='3'),'10',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='36')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='37')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='39')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='39')&(dd_2['AGCLS_CD']=='2'),'08',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='39')&(dd_2['AGCLS_CD']=='3'),'08',dd_2['HEIGHT'])

In [29]:
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='43')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='44')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='45')&(dd_2['AGCLS_CD']=='3'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='45')&(dd_2['AGCLS_CD']=='4'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='46')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='47')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='49')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='49')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='49')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='65')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='1'),'00',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='2'),'08',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='3'),'12',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='4'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='5'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='6'),'16',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='77')&(dd_2['AGCLS_CD']=='9'),'14',dd_2['HEIGHT'])
dd_2['HEIGHT'] = np.where((dd_2['KOFTR_GROU']=='78')&(dd_2['AGCLS_CD']=='1'),'20',dd_2['HEIGHT'])

In [30]:
new_imsang=pd.concat([dd_2, dn_2, d_0])

## 토양도 입력값 수정

In [31]:
toyang= toyang.replace({'SCSTX_CD': '1'}, {'SCSTX_CD': '01'})
toyang= toyang.replace({'SCSTX_CD': '2'}, {'SCSTX_CD': '02'})
toyang= toyang.replace({'SCSTX_CD': '3'}, {'SCSTX_CD': '03'})
toyang= toyang.replace({'SCSTX_CD': '4'}, {'SCSTX_CD': '04'})
toyang= toyang.replace({'SCSTX_CD': '5'}, {'SCSTX_CD': '05'})
toyang= toyang.replace({'SCSTX_CD': '6'}, {'SCSTX_CD': '06'})
toyang= toyang.replace({'SCSTX_CD': '7'}, {'SCSTX_CD': '07'})
toyang= toyang.replace({'SCSTX_CD': '8'}, {'SCSTX_CD': '08'})

In [32]:
toyang= toyang.replace({'SLDPT_TPCD': '1'}, {'SLDPT_TPCD': '10'})
toyang= toyang.replace({'SLDPT_TPCD': '2'}, {'SLDPT_TPCD': '20'})
toyang= toyang.replace({'SLDPT_TPCD': '3'}, {'SLDPT_TPCD': '30'})

In [33]:
toyang= toyang.replace({'TPGRP_TPCD': '1'}, {'TPGRP_TPCD': '01'})
toyang= toyang.replace({'TPGRP_TPCD': '2'}, {'TPGRP_TPCD': '02'})
toyang= toyang.replace({'TPGRP_TPCD': '3'}, {'TPGRP_TPCD': '03'})

In [34]:
toyang= toyang.replace({'PRDN_FOM_C': '1'}, {'PRDN_FOM_C': '01'})
toyang= toyang.replace({'PRDN_FOM_C': '2'}, {'PRDN_FOM_C': '02'})
toyang= toyang.replace({'PRDN_FOM_C': '3'}, {'PRDN_FOM_C': '03'})
toyang= toyang.replace({'PRDN_FOM_C': '4'}, {'PRDN_FOM_C': '04'})

## 지형구분코드 결측치 대체

In [35]:
toyang['TPGRP_TPCD'] = toyang['TPGRP_TPCD'].fillna('99')

## 사면형태코드 결측치 대체

In [36]:
toyang['PRDN_FOM_C'] = toyang['PRDN_FOM_C'].fillna('99')

## 경사형코드 결측치 대체

In [37]:
toyang['SLANT_TYP'] = toyang['SLANT_TYP'].fillna('0')

## 토성코드 결측치 대체

In [38]:
toyang['SCSTX_CD'] = toyang['SCSTX_CD'].fillna('99')

## 토심코드 결측치 대체

In [39]:
toyang['SLDPT_TPCD'] = toyang['SLDPT_TPCD'].fillna('00')

## 8 방위각도 결측치 대체

In [40]:
toyang= toyang.replace({'EIGHT_AGL': 360.0}, {'EIGHT_AGL': 0.0})

In [41]:
toyang_imsang=gpd.sjoin(new_imsang, toyang, op='within')

## 산사태 발생이력 과 행정동 경계의 이름은 같지만 다른 지역 구분

In [42]:
# 잘못 기입된 값 처리
sst= sst.replace({'umd': '남면 '}, {'umd': '남면'})
sst= sst.replace({'umd': '수비면 '}, {'umd': '수비면'})
sst= sst.replace({'umd': '묘산면 '}, {'umd': '묘산면'})

In [43]:
sst['name'] = sst['sgg'] + ' ' + sst['umd']

In [44]:
sst1 =sst[sst['name']== '창원시 의창구 북면' ]
sst2 =sst[sst['name']== '밀양시 상동면' ]
sst3 =sst[sst['name']== '영덕군 병곡면' ]
sst4 =sst[sst['name']== '성주군 대가면' ]

In [45]:
s = [sst1, sst2, sst3, sst4]
sst2 = pd.concat(s)

In [46]:
sst2['umd1'] = sst2['umd'] + '2'
sst2.drop(['umd'], inplace=True, axis=1)
sst2 = sst2.rename({'umd1':'umd'}, axis='columns')

In [47]:
def sup(a):
    sst_dup =sst[sst['name']== a ]
    return sst_dup

In [48]:
list1 = [ '포항시 북구 중앙동','남해군 서면', '울릉군 북면', '창원시 마산합포구 자산동', '김해시 상동면' , '남해군 남면', '김해시 북부동', '통영시 도산면', '창녕군 성산면', '함양군 병곡면','고성군 동해면', '고령군 덕곡면', '합천군 봉산면', '고성군 대가면' ]
a = []
for i in list1:
    a.append(sup(i))

In [49]:
sst_sup1 = pd.concat(a)

In [50]:
sst_sup1['umd1'] = sst_sup1['umd'] + '1'
sst_sup1.drop(['umd'], inplace=True, axis=1)
sst_sup1 = sst_sup1.rename({'umd1':'umd'}, axis='columns')

In [51]:
sst_sup3 =sst[sst['name']== '울진군 북면' ]

In [52]:
sst_sup3['umd1'] = sst_sup3['umd'] + '3'
sst_sup3.drop(['umd'], inplace=True, axis=1)
sst_sup3 = sst_sup3.rename({'umd1':'umd'}, axis='columns')

<ipython-input-52-c640524fadb5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sst_sup3['umd1'] = sst_sup3['umd'] + '3'
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [53]:
list3 = [sst_sup1, sst2, sst_sup3]
sst_d = pd.concat(list3)

In [54]:
sst.drop(sst_d.index, inplace=True)

In [55]:
sst_a=sst[['date','sd','sgg','sum_cnt','sum_hpa','name','umd']]

In [56]:
sstt = [sst_d, sst_a]
new_sst=pd.concat(sstt)

In [57]:
new_sst.to_csv('new_sst.csv', index=False)

In [58]:
# 특정 ADM_DR_CD 인 지역 추출 함수 
def dup(a):
    hjd_dup =hjd[hjd['ADM_DR_CD']== a ]
    return hjd_dup

In [59]:
# 같은 이름 다른 지역 처리- 구분1
list1 = ['3701267', '3835036', '3743032', '3811358', '3807036', '3835035', '3807055',
        '3805032',  '3833032', '3838040', '3834042', '3737031', '3840031', '3834035',
        '3707034', '3707051', '3811132', '3707055', '3808034', '3701160', '3732037', '3703038', '3707035']
a = []
for i in list1:
    a.append(dup(i))

In [60]:
# 같은 이름 다른 지역 처리 - 구분2
list2 = ['3811131', '3808032', '3735037', '3738036', '3707052','3702035','3708042','3703032','3710055','3701132','3710052','3832034','3710054',
'3702034','3703036','3803077','3703060','3737033','3836037','3740034','3708047','3704042','3840038']
b = []
for i in list2:
    b.append(dup(i))

In [61]:
list3=['3710051', '3742031', '3743031']

c = []
for i in list3:
    c.append(dup(i))

In [62]:
hjd_dup1 = pd.concat(a)

In [63]:
hjd_dup2 = pd.concat(b)

In [64]:
hjd_dup3 = pd.concat(c)

In [65]:
hjd_dup4 =hjd[hjd['ADM_DR_CD']== '3803074']

In [66]:
hjd_dup5 =hjd[hjd['ADM_DR_CD']== '3805053']

In [67]:
hjd_dup6 =hjd[hjd['ADM_DR_CD']== '3810058']

In [68]:
hjd_dup7 =hjd[hjd['ADM_DR_CD']== '3811252']

In [69]:
# umd 뒤에 숫자를 붙여 같은 이름 다른 지역  구분
hjd_dup1['umd1'] = hjd_dup1['umd'] + '1'
hjd_dup1.drop(['umd'], inplace=True, axis=1)
hjd_dup1 = hjd_dup1.rename({'umd1':'umd'}, axis='columns')

hjd_dup2['umd1'] = hjd_dup2['umd'] + '2'
hjd_dup2.drop(['umd'], inplace=True, axis=1)
hjd_dup2 = hjd_dup2.rename({'umd1':'umd'}, axis='columns')

hjd_dup3['umd1'] = hjd_dup3['umd'] + '3'
hjd_dup3.drop(['umd'], inplace=True, axis=1)
hjd_dup3 = hjd_dup3.rename({'umd1':'umd'}, axis='columns')

hjd_dup4['umd1'] = hjd_dup4['umd'] + '4'
hjd_dup4.drop(['umd'], inplace=True, axis=1)
hjd_dup4 = hjd_dup4.rename({'umd1':'umd'}, axis='columns')

hjd_dup5['umd1'] = hjd_dup5['umd'] + '5'
hjd_dup5.drop(['umd'], inplace=True, axis=1)
hjd_dup5 = hjd_dup5.rename({'umd1':'umd'}, axis='columns')

hjd_dup6['umd1'] = hjd_dup6['umd'] + '6'
hjd_dup6.drop(['umd'], inplace=True, axis=1)
hjd_dup6 = hjd_dup6.rename({'umd1':'umd'}, axis='columns')

hjd_dup7['umd1'] = hjd_dup7['umd'] + '7'
hjd_dup7.drop(['umd'], inplace=True, axis=1)
hjd_dup7 = hjd_dup7.rename({'umd1':'umd'}, axis='columns')

C:\ProgramData\Anaconda3\lib\site-packages\geopandas\geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [70]:
list4 = [hjd_dup1, hjd_dup2, hjd_dup3, hjd_dup4, hjd_dup5, hjd_dup6, hjd_dup7]
hjd_d = pd.concat(list4)

In [71]:
hjd.drop(hjd_d.index, inplace=True)

In [72]:
hjd_a=hjd[['BASE_DATE','ADM_DR_CD','geometry','umd']]

In [73]:
new_hjd=pd.concat([hjd_a, hjd_d])

In [74]:
new_hjd=new_hjd.sort_index()

In [75]:
new_hjd.to_csv('new_hjd.csv', index=False)

In [76]:
sst_20110709=new_sst[new_sst['date']== 20110709]
sst_20120917=new_sst[new_sst['date']== 20120917]
sst_20191003=new_sst[new_sst['date']== 20191003]
sst_20140825=new_sst[new_sst['date']== 20140825]
sst_20161005=new_sst[new_sst['date']== 20161005]
sst_20110808=new_sst[new_sst['date']== 20110808]
sst_20181006=new_sst[new_sst['date']== 20181006]   
sst_20180826=new_sst[new_sst['date']== 20180826]         
sst_20191002=new_sst[new_sst['date']== 20191002] 
sst_20190720=new_sst[new_sst['date']== 20190720] 
sst_20180703=new_sst[new_sst['date']== 20180703]

In [77]:
hjd_sst1 = pd.merge(sst_20110709,new_hjd, on=['umd'], how='right')
hjd_sst2 = pd.merge(sst_20120917,new_hjd, on=['umd'], how='right')
hjd_sst3 = pd.merge(sst_20191003,new_hjd, on=['umd'], how='right')
hjd_sst4 = pd.merge(sst_20140825,new_hjd, on=['umd'], how='right')
hjd_sst5 = pd.merge(sst_20161005,new_hjd, on=['umd'], how='right')
hjd_sst6 = pd.merge(sst_20110808,new_hjd, on=['umd'], how='right')
hjd_sst7 = pd.merge(sst_20181006,new_hjd, on=['umd'], how='right')
hjd_sst8 = pd.merge(sst_20180826,new_hjd, on=['umd'], how='right')
hjd_sst9 = pd.merge(sst_20191002,new_hjd, on=['umd'], how='right')
hjd_sst10 = pd.merge(sst_20190720,new_hjd, on=['umd'], how='right')
hjd_sst11 = pd.merge(sst_20180703,new_hjd, on=['umd'], how='right')

In [78]:
hjd_sst1['date']=hjd_sst1['date'].fillna(20110709)
hjd_sst2['date']=hjd_sst2['date'].fillna(20120917)
hjd_sst3['date']=hjd_sst3['date'].fillna(20191003)
hjd_sst4['date']=hjd_sst4['date'].fillna(20140825)
hjd_sst5['date']=hjd_sst5['date'].fillna(20161005)
hjd_sst6['date']=hjd_sst6['date'].fillna(20110808)
hjd_sst7['date']=hjd_sst7['date'].fillna(20181006)
hjd_sst8['date']=hjd_sst8['date'].fillna(20180826)
hjd_sst9['date']=hjd_sst9['date'].fillna(20191002)
hjd_sst10['date']=hjd_sst10['date'].fillna(20190720)
hjd_sst11['date']=hjd_sst11['date'].fillna(20180703)

In [79]:
abc = [hjd_sst1, hjd_sst2, hjd_sst3, hjd_sst4, hjd_sst5, hjd_sst6, hjd_sst7, hjd_sst8, hjd_sst9, hjd_sst10, hjd_sst11]
new_hjdsst = pd.concat(abc)
new_hjdsst = new_hjdsst

In [80]:
import numpy as np
t = [(new_hjdsst['sum_cnt']== 0), (new_hjdsst['sum_cnt'] > 0)]
choice = [0,1]
new_hjdsst['target'] = np.select(t, choice)

In [81]:
gdf = gpd.GeoDataFrame(new_hjdsst, geometry=new_hjdsst.geometry)

In [82]:
gdf.crs = {'init':'epsg:5179'}

C:\ProgramData\Anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [83]:
toyang_imsang.drop(['index_right'], inplace=True, axis=1)

In [84]:
df_ti=gpd.sjoin(toyang_imsang , gdf, op='within' )

<ipython-input-84-cd854c50c1ed>:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:5179
Right CRS: +init=epsg:5179 +type=crs

  df_ti=gpd.sjoin(toyang_imsang , gdf, op='within' )

In [85]:
data=df_ti.drop(['ETC_PCMTT', 'sd', 'sgg', 'sum_cnt', 'sum_hpa', 'name'], axis=1)

In [86]:
data_1=data.drop(['LDMARK_STN_left', 'MAP_LABEL_left','MAP_LABEL_right','index_right', 'BASE_DATE','ADM_DR_CD', 'geometry','OBJ_ID'], axis=1)

In [87]:
data_0=data_1.drop(['LDMARK_STN_right'], axis=1)

In [88]:
data_0=data_0[['date','umd','STORUNST','FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT','PRRCK_LARG','PRRCK_MDDL','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD','target']]

In [89]:
# 12지역 대체
new_gdf1=gpd.sjoin(new_imsang, gdf, op='within')

<ipython-input-89-a9b329dde7cf>:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:5179
Right CRS: +init=epsg:5179 +type=crs

  new_gdf1=gpd.sjoin(new_imsang, gdf, op='within')

In [90]:
new_gdf2=gpd.sjoin(toyang, gdf, op='within')

<ipython-input-90-76d2bd95b9fe>:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:5179
Right CRS: +init=epsg:5179 +type=crs

  new_gdf2=gpd.sjoin(toyang, gdf, op='within')

In [91]:
# 사파동/, 상봉동/,  대송면/, 평화남산동/, 자산동1/, 불암동/ 
is_사파동=new_gdf1[new_gdf1['umd']== '사파동']
is_상봉동=new_gdf1[new_gdf1['umd']== '상봉동']
is_대송면=new_gdf1[new_gdf1['umd']== '대송면']
is_평화남산동=new_gdf1[new_gdf1['umd']== '평화남산동']
is_자산동1=new_gdf1[new_gdf1['umd']== '자산동1']
is_불암동=new_gdf1[new_gdf1['umd']== '불암동']

In [92]:
ty_사파동=new_gdf2[new_gdf2['umd']== '사파동']
ty_상봉동=new_gdf2[new_gdf2['umd']== '상봉동']
ty_대송면=new_gdf2[new_gdf2['umd']== '대송면']
ty_평화남산동=new_gdf2[new_gdf2['umd']== '평화남산동']
ty_자산동1=new_gdf2[new_gdf2['umd']== '자산동1']
ty_불암동=new_gdf2[new_gdf2['umd']== '불암동']

In [93]:
## 임상도
# 범주형
is_사파동=is_사파동[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_상봉동=is_상봉동[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_대송면=is_대송면[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_평화남산동=is_평화남산동[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_자산동1=is_자산동1[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_불암동=is_불암동[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
# 연속형
#임상엔 연속형 없음

## 토양도
#범주형
ty_사파동1=ty_사파동[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_상봉동1=ty_상봉동[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_대송면1=ty_대송면[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_평화남산동1=ty_평화남산동[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_자산동11=ty_자산동1[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_불암동1=ty_불암동[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
#연속형
ty_사파동2=ty_사파동[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_상봉동2=ty_상봉동[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_대송면2=ty_대송면[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_평화남산동2=ty_평화남산동[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_자산동12=ty_자산동1[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_불암동2=ty_불암동[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]

In [94]:
is_사파동=is_사파동.mode()
is_상봉동=is_상봉동.mode()
is_대송면=is_대송면.mode()
is_평화남산동=is_평화남산동.mode()
is_자산동1=is_자산동1.mode()
is_불암동=is_불암동.mode()

In [95]:
ty_사파동1=ty_사파동1.mode()
ty_상봉동1=ty_상봉동1.mode()
ty_대송면1=ty_대송면1.mode()
ty_평화남산동1=ty_평화남산동1.mode()
ty_자산동11=ty_자산동11.mode()
ty_불암동1=ty_불암동1.mode()

In [96]:
ty_사파동2=ty_사파동2.groupby(['umd']).median()
ty_사파동2=ty_사파동2.reset_index()
ty_상봉동2=ty_상봉동2.groupby(['umd']).median()
ty_상봉동2=ty_상봉동2.reset_index()
ty_대송면2=ty_대송면2.groupby(['umd']).median()
ty_대송면2=ty_대송면2.reset_index()
ty_평화남산동2=ty_평화남산동2.groupby(['umd']).median()
ty_평화남산동2=ty_평화남산동2.reset_index()
ty_자산동12=ty_자산동12.groupby(['umd']).median()
ty_자산동12=ty_자산동12.reset_index()
ty_불암동2=ty_불암동2.groupby(['umd']).median()
ty_불암동2=ty_불암동2.reset_index()

In [97]:
사파동=pd.merge(is_사파동, ty_사파동1, on=['umd'], how='inner')
사파동=pd.merge(사파동, ty_사파동2, on=['umd'], how='inner')

상봉동=pd.merge(is_상봉동, ty_상봉동1, on=['umd'], how='inner')
상봉동=pd.merge(상봉동, ty_상봉동2, on=['umd'], how='inner')

대송면=pd.merge(is_대송면, ty_대송면1, on=['umd'], how='inner')
대송면=pd.merge(대송면, ty_대송면2, on=['umd'], how='inner')

평화남산동=pd.merge(is_평화남산동, ty_평화남산동1, on=['umd'], how='inner')
평화남산동=pd.merge(평화남산동, ty_평화남산동2, on=['umd'], how='inner')

자산동=pd.merge(is_자산동1, ty_자산동11, on=['umd'], how='inner')
자산동=pd.merge(자산동, ty_자산동12, on=['umd'], how='inner')

불암동=pd.merge(is_불암동, ty_불암동1, on=['umd'], how='inner')
불암동=pd.merge(불암동, ty_불암동2, on=['umd'], how='inner')

In [98]:
n_data1=pd.concat([사파동, 상봉동, 대송면, 평화남산동, 자산동, 불암동])

In [99]:
#북면1, 감포읍, 제철동, 양북면, 울릉읍, 장기면 
is_북면1=new_gdf1[new_gdf1['umd']== '북면1']
is_감포읍=new_gdf1[new_gdf1['umd']== '감포읍']
is_제철동=new_gdf1[new_gdf1['umd']== '제철동']
is_양북면=new_gdf1[new_gdf1['umd']== '양북면']
is_울릉읍=new_gdf1[new_gdf1['umd']== '울릉읍']
is_장기면=new_gdf1[new_gdf1['umd']== '장기면']

In [100]:
is_북면1=is_북면1[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_감포읍=is_감포읍[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_제철동=is_제철동[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_양북면=is_양북면[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_울릉읍=is_울릉읍[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_장기면=is_장기면[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]

In [101]:
is_북면1=is_북면1.mode()
is_감포읍=is_감포읍.mode()
is_제철동=is_제철동.mode()
is_양북면=is_양북면.mode()
is_울릉읍=is_울릉읍.mode()
is_장기면=is_장기면.mode()

In [102]:
# KOFTR_GROU, DMCLS_CD HEIGHT DNST_CD
def black(a, b, c, d, e):
    bb=toyang_imsang[toyang_imsang['KOFTR_GROU'] == a]
    cc=bb[bb['DMCLS_CD'] == b]
    dd=cc[cc['DNST_CD'] == c]
    ff=dd[dd['HEIGHT'] == d]
    ff['umd'] = e
    ff=ff[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
    return ff

In [103]:
def pink(a, b, c, d, e):
    bb=toyang_imsang[toyang_imsang['KOFTR_GROU'] == a]
    cc=bb[bb['DMCLS_CD'] == b]
    dd=cc[cc['DNST_CD'] == c]
    ff=dd[dd['HEIGHT'] == d]
    ff['umd'] = e
    ff=ff[['umd', 'LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']] 
    return ff

In [104]:
ty_북면11=black('30', '4', 'C', '16', '북면1')
ty_북면12=pink('30', '4', 'C', '16', '북면1')
ty_감포읍1=black('11', '4', 'C', '14', '감포읍')
ty_감포읍2=pink('11', '4', 'C', '14', '감포읍')
ty_제철동1=black('30', '3', 'C', '12', '제철동')
ty_제철동2=pink('30', '3', 'C', '12', '제철동')
ty_양북면1=black('30', '4', 'C', '14', '양북면')
ty_양북면2=pink('30', '4', 'C', '14', '양북면')
ty_울릉읍1=black('30', '4', 'C', '00', '울릉읍')
ty_울릉읍2=pink('30', '4', 'C', '00', '울릉읍')
ty_장기면1=black('30', '4', 'C', '14', '장기면')
ty_장기면2=pink('30', '4', 'C', '14', '장기면')

C:\ProgramData\Anaconda3\lib\site-packages\geopandas\geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [105]:
ty_북면11=ty_북면11.mode().dropna()
ty_감포읍1=ty_감포읍1.mode()
ty_제철동1=ty_제철동1.mode()
ty_양북면1=ty_양북면1.mode()
ty_울릉읍1=ty_울릉읍1.mode()
ty_장기면1=ty_장기면1.mode()

In [106]:
ty_북면12=ty_북면12.groupby(['umd']).median()
ty_북면12=ty_북면12.reset_index()
ty_감포읍2=ty_감포읍2.groupby(['umd']).median()
ty_감포읍2=ty_감포읍2.reset_index()
ty_제철동2=ty_제철동2.groupby(['umd']).median()
ty_제철동2=ty_제철동2.reset_index()
ty_양북면2=ty_양북면2.groupby(['umd']).median()
ty_양북면2=ty_양북면2.reset_index()
ty_울릉읍2=ty_울릉읍2.groupby(['umd']).median()
ty_울릉읍2=ty_울릉읍2.reset_index()
ty_장기면2=ty_장기면2.groupby(['umd']).median()
ty_장기면2=ty_장기면2.reset_index()

In [107]:
북면1=pd.merge(is_북면1, ty_북면11, on=['umd'], how='inner')
북면1=pd.merge(북면1, ty_북면12, on=['umd'], how='inner')

감포읍=pd.merge(is_감포읍, ty_감포읍1, on=['umd'], how='inner')
감포읍=pd.merge(감포읍, ty_감포읍2, on=['umd'], how='inner')

제철동=pd.merge(is_제철동, ty_제철동1, on=['umd'], how='inner')
제철동=pd.merge(제철동, ty_제철동2, on=['umd'], how='inner')

양북면=pd.merge(is_양북면, ty_양북면1, on=['umd'], how='inner')
양북면=pd.merge(양북면, ty_양북면2, on=['umd'], how='inner')

울릉읍=pd.merge(is_울릉읍, ty_울릉읍1, on=['umd'], how='inner')
울릉읍=pd.merge(울릉읍, ty_울릉읍2, on=['umd'], how='inner')

장기면=pd.merge(is_장기면, ty_장기면1, on=['umd'], how='inner')
장기면=pd.merge(장기면, ty_장기면2, on=['umd'], how='inner')

In [108]:
n_data2=pd.concat([북면1, 감포읍, 제철동, 양북면, 울릉읍, 장기면])

In [109]:
n_data=pd.concat([n_data1, n_data2])

In [110]:
n_data['date'] = 20110709
n_data_2= n_data.replace({'date': 20110709}, {'date': 20110808})
n_data_3= n_data_2.replace({'date': 20110808}, {'date': 20120917})
n_data_4= n_data_3.replace({'date': 20120917}, {'date': 20140825})
n_data_5= n_data_4.replace({'date': 20140825}, {'date': 20161005})
n_data_6= n_data_5.replace({'date': 20161005}, {'date': 20180703})
n_data_7= n_data_6.replace({'date': 20180703}, {'date': 20180826})
n_data_8= n_data_7.replace({'date': 20180826}, {'date': 20181006})
n_data_9= n_data_8.replace({'date': 20181006}, {'date': 20190720})
n_data_10= n_data_9.replace({'date': 20190720}, {'date': 20191002})
n_data_11= n_data_10.replace({'date': 20191002}, {'date': 20191003})

nn =pd.concat([n_data, n_data_2, n_data_3, n_data_4, n_data_5, n_data_6, n_data_7, n_data_8, n_data_9, n_data_10, n_data_11])

In [111]:
ts = [(new_sst['sum_cnt']== 0), (new_sst['sum_cnt'] > 0)]
choices = [0,1]
new_sst['target'] = np.select(ts, choices)

In [112]:
new_sstsst=new_sst[['date','umd', 'target']]

In [113]:
nn=pd.merge(nn, new_sstsst, on=['date', 'umd'], how='left')

In [114]:
nn=nn.fillna(0)

In [115]:
nn=nn[['date','umd', 'STORUNST','FROR_CD', 'FRTP_CD', 'KOFTR_GROU', 'DMCLS_CD', 'AGCLS_CD', 'DNST_CD', 'HEIGHT', 'PRRCK_LARG', 'PRRCK_MDDL','LOCTN_ALTT', 'LOCTN_GRDN','EIGHT_AGL', 'CLZN_CD', 'TPGRP_TPCD' , 'PRDN_FOM_C', 'SLANT_TYP', 'SLDPT_TPCD', 'SCSTX_CD', 'SLTP_CD', 'target']]

In [116]:
w_train=pd.concat([data_0, nn])

In [117]:
w_train_o=w_train[['date','umd', 'STORUNST','FROR_CD', 'FRTP_CD', 'KOFTR_GROU', 'DMCLS_CD', 'AGCLS_CD', 'DNST_CD', 'HEIGHT', 'PRRCK_LARG', 'PRRCK_MDDL', 'CLZN_CD', 'TPGRP_TPCD' , 'PRDN_FOM_C', 'SLANT_TYP', 'SLDPT_TPCD', 'SCSTX_CD', 'SLTP_CD']]

In [118]:
w_train_f=w_train[['date','umd','LOCTN_ALTT', 'LOCTN_GRDN','EIGHT_AGL']]

In [119]:
w_train_target= w_train[['date','umd','target']]

In [120]:
a=w_train_o.groupby(['umd', 'date']).agg(lambda x: x.value_counts().index[0]).reset_index()

In [121]:
b=w_train_f.groupby(['umd', 'date']).mean().reset_index()
b

      umd        date  LOCTN_ALTT  LOCTN_GRDN   EIGHT_AGL
0     가곡동  20110709.0  100.760000   26.320000  252.460000
1     가곡동  20110808.0  100.760000   26.320000  252.460000
2     가곡동  20120917.0  100.760000   26.320000  252.460000
3     가곡동  20140825.0  100.760000   26.320000  252.460000
4     가곡동  20161005.0  100.760000   26.320000  252.460000
...   ...         ...         ...         ...         ...
6188  흥해읍  20180826.0   83.899083   16.133945  177.488991
6189  흥해읍  20181006.0   83.899083   16.133945  177.488991
6190  흥해읍  20190720.0   83.899083   16.133945  177.488991
6191  흥해읍  20191002.0   83.899083   16.133945  177.488991
6192  흥해읍  20191003.0   83.899083   16.133945  177.488991

[6193 rows x 5 columns]

In [122]:
c=w_train_target.groupby(['umd', 'date']).max().reset_index()
c

      umd        date  target
0     가곡동  20110709.0     0.0
1     가곡동  20110808.0     0.0
2     가곡동  20120917.0     0.0
3     가곡동  20140825.0     0.0
4     가곡동  20161005.0     0.0
...   ...         ...     ...
6188  흥해읍  20180826.0     0.0
6189  흥해읍  20181006.0     0.0
6190  흥해읍  20190720.0     0.0
6191  흥해읍  20191002.0     0.0
6192  흥해읍  20191003.0     1.0

[6193 rows x 3 columns]

In [123]:
w_train_2=pd.merge(a, b, on=['date', 'umd'], how='inner')

In [124]:
w_train_2=pd.merge(w_train_2, c, on=['date', 'umd'], how='inner')

In [125]:
rain_1=rain1.drop(['sd', 'sgg', 'x', 'y'], axis=1)

In [126]:
w_train_2=pd.merge(w_train_2, rain_1, on=['date', 'umd'], how='left')

In [127]:
w_train_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6193 entries, 0 to 6192
Data columns (total 67 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   umd            6193 non-null   object
 1   date           6193 non-null   float64
 2   STORUNST       6193 non-null   object
 3   FROR_CD        6193 non-null   object
 4   FRTP_CD        6193 non-null   object
 5   KOFTR_GROU     6193 non-null   object
 6   DMCLS_CD       6193 non-null   object
 7   AGCLS_CD       6193 non-null   object
 8   DNST_CD        6193 non-null   object
 9   HEIGHT         6193 non-null   object
 10  PRRCK_LARG     6193 non-null   object
 11  PRRCK_MDDL     6193 non-null   object
 12  CLZN_CD        6193 non-null   object
 13  TPGRP_TPCD     6193 non-null   object
 14  PRDN_FOM_C     6193 non-null   object
 15  SLANT_TYP      6193 non-null   object
 16  SLDPT_TPCD     6193 non-null   object
 17  SCSTX_CD       6193 non-null   object
 18  SLTP_CD        6193 non-null   object
 19  LOCTN_ALTT     6193 non-null   float64
 20  LOCTN_GRDN     6193 non-null   float64
 21  EIGHT_AGL      6193 non-null   float64
 22  target         6193 non-null   float64
 23  1day_mean_T3H  6193 non-null   float64
 24  1day_min_T3H   6193 non-null   float64
 25  1day_max_T3H   6193 non-null   float64
 26  day_mean_T3H   6193 non-null   float64
 27  day_min_T3H    6193 non-null   float64
 28  day_max_T3H    6193 non-null   float64
 29  1day_mean_REH  6193 non-null   float64
 30  1day_min_REH   6193 non-null   float64
 31  1day_max_REH   6193 non-null   float64
 32  day_mean_REH   6193 non-null   float64
 33  day_min_REH    6193 non-null   float64
 34  day_max_REH    6193 non-null   float64
 35  1day_mean_WSD  6193 non-null   float64
 36  1day_min_WSD   6193 non-null   float64
 37  1day_max_WSD   6193 non-null   float64
 38  day_mean_WSD   6193 non-null   float64
 39  day_min_WSD    6193 non-null   float64
 40  day_max_WSD    6193 non-null   float64
 41  1day_mean_VEC  6193 non-null   float64
 42  1day_min_VEC   6193 non-null   float64
 43  1day_max_VEC   6193 non-null   float64
 44  day_mean_VEC   6193 non-null   float64
 45  day_min_VEC    6193 non-null   float64
 46  day_max_VEC    6193 non-null   float64
 47  1day_mean_POP  6193 non-null   float64
 48  1day_min_POP   6193 non-null   float64
 49  1day_max_POP   6193 non-null   float64
 50  day_mean_POP   6193 non-null   float64
 51  day_min_POP    6193 non-null   float64
 52  day_max_POP    6193 non-null   float64
 53  1day_mean_WAV  6193 non-null   float64
 54  1day_min_WAV   6193 non-null   float64
 55  1day_max_WAV   6193 non-null   float64
 56  day_mean_WAV   6193 non-null   float64
 57  day_min_WAV    6193 non-null   float64
 58  day_max_WAV    6193 non-null   float64
 59  1day_mode_PTY  6193 non-null   float64
 60  day_mode_PTY   6193 non-null   float64
 61  1day_mode_SKY  6193 non-null   float64
 62  day_mode_SKY   6193 non-null   float64
 63  1day_sum_rain  6193 non-null   float64
 64  1day_max_rain  6193 non-null   float64
 65  day_sum_rain   6193 non-null   float64
 66  day_max_rain   6193 non-null   float64
dtypes: float64(49), object(18)
memory usage: 3.2+ MB

# 테스트 데이터

In [129]:
test = pd.read_csv(r'C:\Users\stat_17\Desktop\weather\test.csv', encoding='CP949')

In [130]:
test=test.reset_index()

In [131]:
rain_t=pd.read_csv(r'C:\Users\stat_17\Desktop\svt\vweather__1.csv', encoding='CP949')

In [132]:
rain_t['date1'] = rain_t['date'] - 1
rain_t.drop(['date'], inplace=True, axis=1)
rain_t = rain_t.rename({'date1':'date'}, axis='columns')

In [133]:
test=test.drop(['1day','1day_yn', '2day', '2day_yn'], axis=1)

In [134]:
# 잘못 기입된 값 처리
test = test.replace({'umd': '용흥동  '}, {'umd': '용흥동'})
test = test.replace({'umd': '수비면 '}, {'umd': '수비면'})
test = test.replace({'umd': '묘산면 '}, {'umd': '묘산면'})
test = test.replace({'umd': '남면 '}, {'umd': '남면'})
test = test.replace({'umd': '청하면 '}, {'umd': '청하면'})
test = test.replace({'umd': '기계면 '}, {'umd': '기계면'})

In [135]:
test['name'] = test['sgg'] + ' ' + test['umd']

In [136]:
test1 =test[test['name']== '창원시 의창구 북면' ]
test2 =test[test['name']== '밀양시 상동면' ]
test3 =test[test['name']== '영덕군 병곡면' ]
test4 =test[test['name']== '성주군 대가면' ]
test5 =test[test['name']== '경주시 산내면' ]

In [137]:
ss_t = [test1, test2, test3, test4, test5]
test2 = pd.concat(ss_t)

In [138]:
test2['umd1'] = test2['umd'] + '2'
test2.drop(['umd'], inplace=True, axis=1)
test2 = test2.rename({'umd1':'umd'}, axis='columns')

In [139]:
def sup_t(a):
    test_dup =test[ test['name']== a ]
    return test_dup

In [140]:
list11_t = [ '포항시 북구 중앙동','남해군 서면', '울릉군 북면', '창원시 마산합포구 자산동', '김해시 상동면' , '남해군 남면' ,
         '김해시 북부동', '통영시 도산면', '창녕군 성산면', '함양군 병곡면','고성군 동해면', '고령군 덕곡면',  
         '합천군 봉산면', '고성군 대가면', '밀양시 산내면']
a_t = []
for i in list11_t:
    a_t.append(sup_t(i))

In [141]:
test_sup1 = pd.concat(a_t)

In [142]:
test_sup1['umd1'] = test_sup1['umd'] + '1'
test_sup1.drop(['umd'], inplace=True, axis=1)
test_sup1 = test_sup1.rename({'umd1':'umd'}, axis='columns')

In [143]:
test_sup3 =test[ test['name']== '울진군 북면' ]

In [144]:
test_sup3['umd1'] = test_sup3['umd'] + '3'
test_sup3.drop(['umd'], inplace=True, axis=1)
test_sup3 = test_sup3.rename({'umd1':'umd'}, axis='columns')

<ipython-input-144-e9cd675faa45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_sup3['umd1'] = test_sup3['umd'] + '3'
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [145]:
list_tt = [test_sup1, test2,test_sup3]
test_t = pd.concat(list_tt)

In [146]:
test.drop(test_t.index, inplace=True)

In [147]:
test_a=test[['index','date','sd','sgg','name','umd']]

In [148]:
test_s=pd.concat([test_a, test_t])

In [149]:
# 삼거동, 어곡동, 조와동, 덕곡동, 시동, 주진동
test_s = test_s.replace({'umd': '삼거동'}, {'umd': '상문동'})
test_s = test_s.replace({'umd': '어곡동'}, {'umd': '강서동'})
test_s = test_s.replace({'umd': '조와동'}, {'umd': '부석면'})
test_s = test_s.replace({'umd': '덕곡동'}, {'umd': '자산동2'})
test_s = test_s.replace({'umd': '시동'}, {'umd': '내남면'})
test_s = test_s.replace({'umd': '주진동'}, {'umd': '평산동'})

In [150]:
test_288=pd.merge(test_s, new_hjd, on=['umd'], how='inner')

In [151]:
gdf_t = gpd.GeoDataFrame(test_288, geometry=test_288.geometry)

In [152]:
gdf_t.crs = {'init':'epsg:5179'}

C:\ProgramData\Anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [153]:
df_ti_t=gpd.sjoin(toyang_imsang , gdf_t, op='within' )

<ipython-input-153-38469d45d8c3>:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:5179
Right CRS: +init=epsg:5179 +type=crs

  df_ti_t=gpd.sjoin(toyang_imsang , gdf_t, op='within' )

In [154]:
df_ti_t=df_ti_t.drop(['LDMARK_STN_left', 'MAP_LABEL_left', 'ETC_PCMTT', 'geometry', 'OBJ_ID', 'ARA_XCRD', 'ARA_YCRD', 'LDMARK_STN_right', 'MAP_LABEL_right', 'index_right', 'sd', 'sgg', 'name', 'BASE_DATE', 'ADM_DR_CD'], axis=1)

In [155]:
b=pd.merge(test_288,df_ti_t, on=['index','umd', 'date'], how='left')

In [156]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284406 entries, 0 to 284405
Data columns (total 29 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       284406 non-null  int64
 1   date        284406 non-null  int64
 2   sd          284406 non-null  object
 3   sgg         284406 non-null  object
 4   name        284406 non-null  object
 5   umd         284406 non-null  object
 6   BASE_DATE   284406 non-null  object
 7   ADM_DR_CD   284406 non-null  object
 8   geometry    284406 non-null  geometry
 9   STORUNST    284266 non-null  object
 10  FROR_CD     284266 non-null  object
 11  FRTP_CD     284266 non-null  object
 12  KOFTR_GROU  284266 non-null  object
 13  DMCLS_CD    284266 non-null  object
 14  AGCLS_CD    284266 non-null  object
 15  DNST_CD     284266 non-null  object
 16  HEIGHT      284266 non-null  object
 17  PRRCK_LARG  284266 non-null  object
 18  PRRCK_MDDL  284266 non-null  object
 19  LOCTN_ALTT  284266 non-null  float64
 20  LOCTN_GRDN  284266 non-null  float64
 21  EIGHT_AGL   284266 non-null  float64
 22  CLZN_CD     284266 non-null  object
 23  TPGRP_TPCD  284266 non-null  object
 24  PRDN_FOM_C  284266 non-null  object
 25  SLANT_TYP   284266 non-null  object
 26  SLDPT_TPCD  284266 non-null  object
 27  SCSTX_CD    284266 non-null  object
 28  SLTP_CD     284266 non-null  object
dtypes: float64(3), geometry(1), int64(2), object(23)
memory usage: 65.1+ MB

In [157]:
b['STORUNST']=b['STORUNST'].fillna('NAN')

In [158]:
test_14=b[b['STORUNST']=='NAN']
test_14=test_14.iloc[:, :6]

In [159]:
rain_t1=rain_t.drop(['sd', 'sgg', 'x', 'y', 'variable'], axis=1)

In [160]:
test_12 = test_14[(test_14['umd'] != '청송읍') & (test_14['umd'] !='천북면') & (test_14['umd'] !='자산동2')]

In [161]:
test_2 = test_14[(test_14['umd'] == '청송읍') | (test_14['umd'] =='천북면')| (test_14['umd'] =='자산동2')]

In [162]:
n_datas=n_data.drop(['date'], axis=1)

In [163]:
test_112=pd.merge(test_12, n_datas, on=['umd'], how= 'left' )

In [164]:
test_112=test_112[['index','date','umd', 'STORUNST','FROR_CD', 'FRTP_CD', 'KOFTR_GROU', 'DMCLS_CD', 'AGCLS_CD', 'DNST_CD', 'HEIGHT', 'PRRCK_LARG', 'PRRCK_MDDL','LOCTN_ALTT', 'LOCTN_GRDN','EIGHT_AGL', 'CLZN_CD', 'TPGRP_TPCD' , 'PRDN_FOM_C', 'SLANT_TYP', 'SLDPT_TPCD', 'SCSTX_CD', 'SLTP_CD']]

In [165]:
w_test_2=pd.concat([df_ti_t, test_112])

In [166]:
is_청송읍=new_gdf1[new_gdf1['umd']== '청송읍']
is_천북면=new_gdf1[new_gdf1['umd']== '천북면']
is_자산동2=new_gdf1[new_gdf1['umd']== '자산동2']

In [167]:
ty_청송읍=new_gdf2[new_gdf2['umd']== '청송읍']
ty_천북면=new_gdf2[new_gdf2['umd']== '천북면']
ty_자산동2=new_gdf2[new_gdf2['umd']== '자산동2']

In [168]:
is_청송읍=is_청송읍[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_천북면=is_천북면[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]
is_자산동2=is_자산동2[['umd','STORUNST', 'FROR_CD','FRTP_CD','KOFTR_GROU','DMCLS_CD','AGCLS_CD','DNST_CD','HEIGHT']]

In [169]:
ty_청송읍1=ty_청송읍[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_천북면1=ty_천북면[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]
ty_자산동21=ty_자산동2[['umd','PRRCK_LARG','PRRCK_MDDL','CLZN_CD','TPGRP_TPCD','PRDN_FOM_C','SLANT_TYP','SLDPT_TPCD','SCSTX_CD','SLTP_CD']]

In [170]:
ty_청송읍2=ty_청송읍[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_천북면2=ty_천북면[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]
ty_자산동22=ty_자산동2[['umd','LOCTN_ALTT','LOCTN_GRDN','EIGHT_AGL']]

In [171]:
is_청송읍=is_청송읍.mode()
ty_청송읍1=ty_청송읍1.mode()
ty_청송읍2=ty_청송읍2.groupby(['umd']).median()
ty_청송읍2=ty_청송읍2.reset_index()
is_천북면=is_천북면.mode()
ty_천북면1=ty_천북면1.mode()
ty_천북면2=ty_천북면2.groupby(['umd']).median()
ty_천북면2=ty_천북면2.reset_index()
is_자산동=is_자산동2.mode()
ty_자산동1=ty_자산동21.mode()
ty_자산동2=ty_자산동22.groupby(['umd']).median()
ty_자산동2=ty_자산동22.reset_index()

In [172]:
청송읍=pd.merge(is_청송읍, ty_청송읍1, on=['umd'], how='inner')
청송읍=pd.merge(청송읍, ty_청송읍2, on=['umd'], how='inner')
천북면=pd.merge(is_천북면, ty_천북면1, on=['umd'], how='inner')
천북면=pd.merge(천북면, ty_천북면2, on=['umd'], how='inner')
자산동=pd.merge(is_자산동, ty_자산동21, on=['umd'], how='inner')
자산동=pd.merge(자산동, ty_자산동22, on=['umd'], how='inner')

In [173]:
ch=pd.concat([청송읍, 천북면, 자산동])

In [174]:
test_20=pd.merge(test_2, ch, on=['umd'], how= 'left' )

In [175]:
test_20=test_20[['index','date','umd', 'STORUNST','FROR_CD', 'FRTP_CD', 'KOFTR_GROU', 'DMCLS_CD', 'AGCLS_CD', 'DNST_CD', 'HEIGHT', 'PRRCK_LARG', 'PRRCK_MDDL','LOCTN_ALTT', 'LOCTN_GRDN','EIGHT_AGL', 'CLZN_CD', 'TPGRP_TPCD' , 'PRDN_FOM_C', 'SLANT_TYP', 'SLDPT_TPCD', 'SCSTX_CD', 'SLTP_CD']]

In [176]:
w_test=pd.concat([w_test_2, test_20])

In [177]:
w_test_o=w_test[['index','date','umd', 'STORUNST','FROR_CD', 'FRTP_CD', 'KOFTR_GROU', 'DMCLS_CD', 'AGCLS_CD', 'DNST_CD', 'HEIGHT', 'PRRCK_LARG', 'PRRCK_MDDL', 'CLZN_CD', 'TPGRP_TPCD' , 'PRDN_FOM_C', 'SLANT_TYP', 'SLDPT_TPCD', 'SCSTX_CD', 'SLTP_CD']]
w_test_f=w_test[['index','date','umd','LOCTN_ALTT', 'LOCTN_GRDN','EIGHT_AGL']]

In [178]:
aa=w_test_o.groupby(['index','umd', 'date']).agg(lambda x: x.value_counts().index[0]).reset_index()

In [179]:
bb=w_test_f.groupby(['index','umd', 'date']).mean().reset_index()

In [180]:
w_test_2=pd.merge(aa, bb, on=['index','date', 'umd'], how='inner')

In [181]:
w_test_2=pd.merge(w_test_2, rain_t1, on=['date', 'umd'], how='left')

In [182]:
w_test_2

,index,umd,date,STORUNST,FROR_CD,FRTP_CD,KOFTR_GROU,DMCLS_CD,AGCLS_CD,DNST_CD,...,day_min_WAV,day_max_WAV,1day_mode_PTY,day_mode_PTY,1day_mode_SKY,day_mode_SKY,1day_sum_rain,1day_max_rain,day_sum_rain,day_max_rain
0,0,곤명면,20200610,1,2,4,78,1,1,C,...,0.0,0.0,0.0,0.0,1.0,4.0,15.0,10.0,5.0,5.0
1,1,곤명면,20200611,1,2,4,78,1,1,C,...,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,35.0,20.0
2,2,곤명면,20200612,1,2,4,78,1,1,C,...,0.0,0.0,0.0,1.0,3.0,4.0,70.0,40.0,140.0,70.0
3,3,곤양면,20200610,1,2,0,82,0,0,D,...,0.0,0.0,0.0,0.0,1.0,4.0,10.0,5.0,5.0,5.0
4,4,곤양면,20200611,1,2,0,82,0,0,D,...,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,25.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3405,3405,환여동,20200906,1,2,2,30,3,2,C,...,3.5,5.0,1.0,1.0,4.0,4.0,200.0,100.0,170.0,100.0
3406,3406,흥해읍,20200903,1,2,1,11,4,4,C,...,0.0,0.0,0.0,0.0,1.0,1.0,100.0,100.0,0.0,0.0
3407,3407,흥해읍,20200904,1,2,1,11,4,4,C,...,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,1.0,1.0
3408,3408,흥해읍,20200905,1,2,1,11,4,4,C,...,0.0,0.0,0.0,1.0,4.0,4.0,20.0,10.0,80.0,40.0
3409,3409,흥해읍,20200906,1,2,1,11,4,4,C,...,0.0,0.0,1.0,1.0,4.0,4.0,200.0,100.0,170.0,100.0